* {
    letter-spacing: 0.25px;
    font-family: 'Overpass', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(216, 12%, 8%);
}

h1 {
    color: hsl(0, 0%, 100%);
}


p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}

.card {
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    height: 400px;
    width: 325px;

}



.thankyou h2 {
    color: hsl(25, 97%, 53%);
    font-size: 15px;
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}